@import "http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,100,700.css";
@import "partials/settings";
@import "partials/foundation";


/* test stuff */

$small-only: "only screen and (max-width:40em)";
$medium-down: "only screen and (max-width:960px)";
$medium-only: "only screen (min-width:40.063em) and (max-width:64em)";
$medium-up : "only screen and (min-width:641px)";
$large-only: "only screen and (min-width:64.063em)";

$sky_color:#99CCCC;
$paragraph_font:#333333;
$button-color: #666666;
$button-bottom-border: #333333;
$paragraph-color: #3F4646;
$price-bgcolor: #666666;
$white:#FFFFFF;
$to-the-moon_bottom_border:#555555;
$more_deals-color:#99CCCC;
$footer_color:#5D5D5D;



@mixin ay-chOne(){

     color:$white;
     text-align:center;
     font-size:1.3em;
     padding:0.5em 0;
     border-bottom:1px $to-the-moon_bottom_border solid;
     box-shadow:0px 1px 1.5px grey; 
     border-radius:5px; 
 
}

@mixin ay-chThree(){

    color:$white;
    font-size:4em;
    font-weight:100;
    padding:0 0em 0 0em;
    margin:0.5em 1.1em 0 1.1em;
    letter-spacing: 0px;
    border-bottom: 0.2em $white solid;


}

@mixin smallParagraph($pad:2.3em,$color:#{$white},$line-height:1.5em,$font-size:1em){
            
   
    color:$color;
    line-height: $line-height;
    font-size:$font-size;
    padding:$pad 0;
  // text-align:center;
    //margin: 0 0 0 0em;
    
    
    


}

@mixin bigParagraph($color:#{$paragraph-color},$size:1.6em,$max-width:14.8em){

    color: $color;
    font-size: $size;
    max-width: $max-width;
    margin:auto;
    padding:0em 0;
    color:#{$paragraph-color};
    text-align:center;
    font-family: "Open Sans";
    font-weight:100;

}

@mixin price_tags(){


  font-size:0;
}


  
 
.row {

background:#{$sky_color};
margin: auto;

.title-area{


li{ 
color:#{$sky_color};  
border-bottom: 1px solid #{$sky_color};
// background-image:url("../images/logo.svg");
// background-repeat: no-repeat;


span{ 
font-weight:bolder;
letter-spacing: 0.02em;
color:#{$sky_color};
background-image:url("../images/logo.svg");
background-repeat: no-repeat;



}
}
}

.mobile-logo{

@media #{$small-only}{           
padding:0 0.3em 0.2em 1em;
width:3em;
}
}

.menu_icon{

background-image: url("../images/menu_icon.svg");
margin:0.5em 0.5em;
background-repeat:no-repeat;


}

.top-bar-section ul li{

color:#{$sky_color};
border-bottom: 1px solid #{$sky_color};
padding: 0.2em 0;

a{
padding-left:1.8em;
padding-right:0;
color:#{$sky_color};

}
}

.ship img{



@media #{$small-only}{

display:block;
//background-image:url("../images/ship.svg");
background-repeat:no-repeat;
width:12em;
height:12em;
margin:auto;

}


}

p{
  @media #{$medium-only}{

    @include bigParagraph();
  // margin:3em 1em 0 6em;

  }



  @media #{$small-only}{

    @include bigParagraph();

  }

}

.button{

    @media #{$small-only}{

    padding:1em 1em #{$button-med} 0em;
    display:#{$button-display};
    margin:2em 0.2em; 
    background:#{$button-color};
    font-weight: 100;
    text-align:center;
    border-bottom: #{$button-bottom-border} 5px solid;
    }

    @media #{$medium-only}{
    padding:1em 8em #{$button-med} 8em;


    }
}

.row{
  background:white;
  
  .to_the_moon{

    background:#{$price-bgcolor};
    border-radius:5px;
    margin:3em 0;
   
    
      h1{
        
        @include ay-chOne();

        ~ h3{
             
            @include ay-chThree();
            
              ~ p{
               
                   @include smallParagraph();

                 }
            }
        }
    }
}


.more_deal{

  background:$more_deals-color;
  text-align:center;
  color:$white;
  font-size:2em;
  font-weight:600;
   padding:0.5em 0 0 0;
}

.ufo {

  font-size:0.3em;
  background:$paragraph_font;
  color:$footer_color;
  

}
}
  

  

  

 